main {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 var(--space-300);
}

.blog-preview-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
  min-width: 327px;
  max-width: 384px;
  background-color: var(--white);
  padding: var(--space-300);
  border-radius: var(--space-300);
  box-sizing: border-box;
  border: 1px solid var(--black);
  box-shadow: 7px 7px 0px var(--black);

  p,
  h2 {
    padding: 0;
    margin: 0;
  }

  .image {
    width: 100%;
    border-radius: var(--space-150);
  }

  .tag {
    display: inline-block;
    font-weight: 700;
    background-color: var(--yellow);
    padding: var(--space-50) var(--space-150);
    border-radius: var(--space-50);
  }

  .preview-text {
    color: var(--gray-500);
  }

  .author {
    display: grid;
    grid-template-columns: var(--space-500) 1fr;
    align-items: center;
    gap: var(--space-150);

    .avatar {
      height: var(--space-500);
      width: var(--space-500);
    }

    .name {
      font-weight: 700;
    }
  }
}
