.text-preset-1,
.text-preset-2,
.text-preset-3,
.text-preset-4 {
  font-family: "Figtree";
  color: var(--gray-950);
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: clamp(
    var(--min-fs-rem),
    var(--min-fs-rem) + var(--slope),
    var(--max-fs-rem)
  );
}

.text-preset-1 {
  --min-fs: 1.25;
  --max-fs: 1.5;

  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;

  font-weight: 800;
}

.text-preset-2 {
  --min-fs: 0.875;
  --max-fs: 1;

  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
}

.text-preset-3 {
  --min-fs: 0.75;
  --max-fs: 0.875;

  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
}

.text-preset-4 {
  font-size: 0.875rem;
  font-weight: 800;
}
