.text-preset-1,
.text-preset-2,
.text-preset-3,
.text-preset-4 {
  font-family: "Figtree";
  color: var(--gray-950);
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 300;
}

.text-preset-1 {
  font-size: clamp(20px, 5.4vw, 24px);
  font-weight: 700;
}

.text-preset-2 {
  font-size: 16px;
}

.text-preset-3 {
  font-size: clamp(12px, 3.2vw, 14px);
}

.text-preset-4 {
  font-size: 14px;
  font-weight: 900;
}
