.text-preset-1,
.text-preset-2,
.text-preset-3,
.text-preset-4 {
  font-family: "Figtree";
  color: var(--gray-950);
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 500;
}

.text-preset-1 {
  font-size: clamp(1.25rem, -0.3947rem + 7.0175vw, 1.5rem);
  font-weight: 800;
}

.text-preset-2 {
  font-size: clamp(0.875rem, 0.0526rem + 3.5088vw, 1rem);
}

.text-preset-3 {
  font-size: clamp(0.75rem, -0.0724rem + 3.5088vw, 0.875rem);
}

.text-preset-4 {
  font-size: 14px;
  font-weight: 800;
}
